$neon_pink: #ff29a8;
$neon_blue: #03edf9;
$neon_yellow: #fff951;
$errorforeground: #ff3d81;
$textlink-foreground: #8265ff;
$tab-activeborder: #8b9cbe;
$editoroverviewruler-warningforeground: #72f1b8;
$terminal-foreground: #f4f4f7;
$terminal-ansiblue: #0badff;
$terminal-ansibrightblue: #00caff;
$terminal-ansibrightcyan: #00eaff;
$terminal-ansibrightgreen: #00ffcc;
$terminal-ansibrightmagenta: #ff7edb;
$terminal-ansibrightred: #ff3d81;
$terminal-ansibrightyellow: #f0ffcc;
$terminal-ansicyan: #03edf9;
$terminal-ansigreen: #72f1b8;
$terminal-ansimagenta: #ff7edb;
$terminal-ansired: #fe4450;
$terminal-ansiyellow: #f97e72;
$terminal-selectionbackground: #3c3f4c4d;
$terminalcursor-background: #22262d;
$terminalcursor-foreground: #f4f4f7;
$debugtoolbar-background: #3c3f4c;
